In [1]:
import pandas as pd
import numpy as np
import librosa
import cv2
import glob
import os
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from sklearn.model_selection import train_test_split

In [2]:
path_list = []
parent_dir = '/home/felek/Desktop/spectrograms-20221003T075444Z-001/spectrograms'
sub_dirs = np.array(['0','1','2','3','4','5','6','7','8','9'])
for sub_dir in sub_dirs:
    for spec in glob.glob(os.path.join(parent_dir,sub_dir,'*.png')):
        path_list.append(spec)

In [3]:
tags = {
0 : 'air_conditioner',
1 : 'car_horn',
2 : 'children_playing',
3 : 'dog_bark',
4 : 'drilling',
5 : 'engine_idling',
6 : 'gun_shot',
7 : 'jackhammer',
8 : 'siren',
9 : 'street_music'}

data = []
for path in path_list:
    img = mpimg.imread(path)
    class_id = path.split('/')[7].split('-')[1]
    tag = tags[int(class_id)]
    img = cv2.cvtColor(img, cv2.COLOR_RGB2GRAY) #Grayscale
    img = img / 255 # Normalization
    img = cv2.resize(img, (250, 187)) #500x374 resized to 250x187
    data.append([img,tag])

In [4]:
df = pd.DataFrame(data)

In [5]:
df.columns = ['img','tag']

In [6]:
df

                                                    img              tag
0     [[0.003921569, 0.003921569, 0.0017954634, 2.19...  air_conditioner
1     [[0.003921569, 0.003921569, 0.0017954634, 2.19...  air_conditioner
2     [[0.003921569, 0.003921569, 0.0017954634, 2.19...  air_conditioner
3     [[0.003921569, 0.003921569, 0.0017954634, 2.19...  air_conditioner
4     [[0.003921569, 0.003921569, 0.0017954634, 2.19...  air_conditioner
...                                                 ...              ...
8727  [[0.003921569, 0.003921569, 0.0017954634, 2.19...     street_music
8728  [[0.003921569, 0.003921569, 0.0017954634, 2.19...     street_music
8729  [[0.003921569, 0.003921569, 0.0017954634, 2.19...     street_music
8730  [[0.003921569, 0.003921569, 0.0017954634, 2.19...     street_music
8731  [[0.003921569, 0.003921569, 0.0017954634, 2.19...     street_music

[8732 rows x 2 columns]

In [7]:
X = df['img']
Y = df['tag']

In [8]:
x_train, x_temp, y_train, y_temp = train_test_split(X,Y, train_size = 0.8)
x_val, x_test, y_val, y_test = train_test_split(x_temp, y_temp, train_size = 0.5)

In [10]:
x_train.to_csv("./datasets/x_train.csv")
x_val.to_csv("./datasets/x_val.csv")
x_test.to_csv("./datasets/x_test.csv")
y_train.to_csv("./datasets/y_train.csv")
y_val.to_csv("./datasets/y_val.csv")
y_test.to_csv("./datasets/y_test.csv")